@model IEnumerable<Cad1.Models.Setor>

@{
    ViewData["Title"] = "Setor";
}

<h1>Setores</h1>

<p>
    <a asp-action="Criar" class="btn btn-primary">Novo Setor</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SetorId)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
         @foreach(var setor in Model){
            <tr>
                <td>@Html.DisplayFor(model => setor.SetorId)</td>
                <td>@Html.DisplayFor(model => setor.Nome)</td>
                <td>
                    <a asp-action="Detalhar" asp-route-id="@setor.SetorId" class="btn btn-dark">Detalhes</a>
                    <a asp-action="Editar" asp-route-id="@setor.SetorId" class="btn btn-dark">Editar</a>
                    <a asp-action="Deletar" asp-route-id="@setor.SetorId" class="btn btn-dark">Deletar</a>
                </td>
            </tr>
         }
    </tbody>
</table>